@{
    ViewData["Title"] = "Yayınlanmamış Restoranlar";
}
@inject UserManager<UserIdentity> UserManager
@addTagHelper *,PagedList.Core.Mvc
@model PagedList.Core.IPagedList<Restaurant>


<section class="hero-wrap hero-wrap-2" style="background-image: url(/images/bg_2.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate text-center mb-4">
                <h1 class="mb-2 bread">Yayınlanmamış Değerlendirmeler</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">

            @ViewData["Error"]
            @ViewData["Model"]
            @foreach (var item in Model)
            {
                <div class="col-md-4 ftco-animate">
                    <div class="blog-entry">
                        <a href="/Editor/restaurant/@item.RestaurantID" class="block-20" style="background-image: url(./images/insta-1.jpg);"></a>
                        <div class="text pt-3 pb-4 px-4">
                            <div class="meta">                                
                                <div>@item.PublishDate</div>
                            </div>
                            <h6>@item.Name</h6>
                            <h3 class="heading"><a href="/Blogs/restaurant/@item.RestaurantID">@item.Name</a></h3>
                            <p class="clearfix">
                                <a href="/Editor/restaurant/@item.RestaurantID" class="float-left read"><u>Restaurantı görüntüle</u></a>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row no-gutters my-5">
            <div class="col text-center">
                @if (ViewData["Model"] != "Buralarda bir şey yok.")
                {
                    <pager list="@Model" asp-controller="Editor" asp-action="restaurants" options="@PagedList.Core.Mvc.PagedListRenderOptions.Bootstrap4PageNumbersOnly" />
                }
            </div>
        </div>
    </div>
</section>