@model IQueryable<Restaurant>
@foreach (var item in Model)
{
    double starCount = item.StarCount;
    EFContext c = new EFContext();
    var bannerImage = "/images/bg_2.jpg";

    @if (c.Reviews.Where(x => x.RestaurantID == item.RestaurantID).ToList().Count > 0)
    {
        var list = c.Reviews.Where(x => x.RestaurantID == item.RestaurantID).OrderByDescending(x => x.PublishDate).ToList();
        foreach (var item2 in list)
        {
            bannerImage = item2.BannerImage;
            break;
        }
    }
    <section class="hero-wrap hero-wrap-2" style="background-image: url(@bannerImage);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate text-center mb-4">
                    <h1 class="mb-2 bread">@item.Name'in Profili</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section">
        <div class="container">
            @if (User.IsInRole("Editor") || User.IsInRole("Admin"))
            {
                <form method="post" asp-controller="Editor" asp-action="Restaurant">
                    <input type="text" asp-route-id="@item.RestaurantID" style="visibility:hidden;" />
                    <input asp-route-Action="Delete" style="visibility:hidden" />
                    <button type="submit" class="btn btn-danger" style=" float: right; margin-right:30%">Mekanı Sil</button>
                </form>
                <form method="post">
                    <input type="text" asp-route-id="@item.RestaurantID" style="visibility:hidden;" />
                    <input asp-route-Action="Accept" style="visibility:hidden" />
                    <button type="submit" class="btn btn-success" style=" float: right; margin-right:30%">Mekanı Onayla</button>
                </form>
            }
            <div class="row">
                <div class="col-lg-8 ftco-animate" style="width:100%">
                    <h2 class="mb-3">@item.Name</h2>
                    <div style="font-size:15px;margin-top:-20px;margin-bottom:15px;padding-left:10px; font-family:'Trebuchet MS';"><b>@item.Type</b></div>
                    <div class="ftco-animate col-lg-8">
                        <div>
                            @{
                                var starcount = Convert.ToInt32(Math.Floor(starCount));


                                for (int i = 1; i <= starcount; i++)
                                {
                                    <span class="golden fas fa-star"></span>
                                }
                                if (starcount < starCount)
                                {
                                    <span class="golden fas fa-star-half-alt"></span>
                                    for (int i = starcount + 2; i <= 5; i++)
                                    {
                                        <span class="golden far fa-star"></span>
                                    }
                                }
                                else
                                {
                                    for (int i = starcount + 1; i <= 5; i++)
                                    {
                                        <span class="golden far fa-star"></span>
                                    }
                                }
                                @starCount
                                <span class="fas fa-phone-square-alt" style="float:right;"> @item.Tel </span>
                            }
                        </div>
                        <div style="font-size:13px;">@item.District/@item.City</div>
                        <div style="font-size:13px;">@item.Adress</div>
                        @if (item.Web != null)
                        {
                            <div><a>@item.Web</a></div>
                        }
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </section>

    var blogCount = c.Reviews.Where(x => x.RestaurantID == item.RestaurantID).OrderByDescending(x => x.Star).ToList();
    if (blogCount.Count > 0)
    {
        <section class="ftco-section testimony-section img">
            <div class="overlay"></div>
            <div class="container">
                <div class="row justify-content-center mb-5">
                    <div class="col-md-12 text-center heading-section ftco-animate">
                        <span class="subheading">Mekanın</span>
                        <h2 class="mb-4">en yüksek puanlı değerlendirmeleri</h2>
                    </div>
                </div>
                <div class="row ftco-animate justify-content-center">
                    <div class="col-md-12">
                        <div class="carousel-testimony owl-carousel ftco-owl">
                            @foreach (var item2 in blogCount)
                            {
                                var user = await userManager.FindByIdAsync(item2.UserID);
                                var x = 0;
                                <div class="item">
                                    <div class="testimony-wrap text-center pb-5">
                                        <div class="user-img mb-4" style="background-image: url(@item2.BannerImage)">
                                            <span class="quote d-flex align-items-center justify-content-center">
                                                <i class="icon-quote-left"></i>
                                            </span>
                                        </div>
                                        <div class="text p-3">
                                            <p class="mb-4">@item2.ShortCast</p>
                                            <p class="name"><a href="/user/profile/@item2.UserID">@user.UserName</a></p>
                                        </div>
                                    </div>
                                </div>
                                x++;
                                if (x == 4)
                                {
                                    break;
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    break;
}